* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


.bg{
  background: rgb(2,0,36);
background: -moz-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,116,0.9164040616246498) 35%, rgba(0,181,255,1) 89%);
background: -webkit-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,116,0.9164040616246498) 35%, rgba(0,181,255,1) 89%);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,116,0.9164040616246498) 35%, rgba(0,181,255,1) 89%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#00b5ff",GradientType=1);
}